:root {
    --color-yellow:#E6C744;
    --color-white:#FFFFFF;
    --color-black:#000000;
    --color-lght-gray:#C2C8DA;
    --color-lightblack:#242323;
    --color-text:#191818;
    --color-grey:#7F7F7F;
    --color-banner-text:#231300;
    --color-footer-link:#8E8E8E;
    --color-hero-background:#F4F6F5;
    --color-brands-background:#EBD96B;
}

body {
    font-family: "Poppins";
}

.container {
    width: 1720.0px;
    margin-left: 100px;
    margin-right: 100px;
}

.header-logo {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.header-link {
    color: var(--color-lightblack);
    font-family: 'Poppins';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;
}

.header-btn {
    width: 134.0px;
    height: 62.0px;
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
    background-color: var(--color-black);
    border-radius: 7px;
}

.section-header {
    display: flex;
    align-items: flex-end;
}

.header-list {
    display: flex;
    gap: 54px;
    align-items: center;
}

.header-item {
    display: flex;
    align-items: flex-start;
}

.section-hero {
    background-color:var(--color-hero-background);
    border-radius: 59px;
}

.hero-title {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 120px;
}

.hero-text {
    color: var(--color-text);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
}

.hero-btn {
    width: 221.0px;
    height: 82.0px;
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.5px;
    background-color: var(--color-black);
    border-radius: 10px;
}

.section-brands {
    background-color: var(--color-brands-background);
}

.arrivals-title {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 2.88px;
}

.arrivals-subtitle {
    color: var(--color-text);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.28px;
}

.arrivals-img {
    width: 484.0px;
    height: 704.0px;
}

.arrivals-text {
    color:var(--color-grey);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.96px;
}

.banner-title {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 111.608px;
    font-style: normal;
    font-weight: 900;
    line-height: 137.185px;
}

.banner-text {
    color:var(--color-banner-text);
    font-family: 'Poppins';
    font-size: 36.04px;
    font-style: normal;
    font-weight: 500;
    line-height: 52.316px;
    letter-spacing: -0.721px;
}

.banner-subtitle {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 36.04px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.316px;
    letter-spacing: 0.721px;
}

.banner-img {
    width: 991.4px;
    height: 968.0px;
}

.banner-btn {
    color: var(--color-white);
    background-color:var(--color-black);
    font-family: 'Poppins';
    width: 265.6px;
    height: 95.3px;
    font-size: 27.902px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.558px;
    border-radius: 8.138px;
}

.favourite-title {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 2.88px;
}

.favourite-subtitle {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.28px;
}

.favourite-img {
    border-radius: 20px;
}

.favourite-text {
    color: var(--color-grey);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.96px;
}

.voucher-title {
    color: var(--color-black);
    font-family: 'Poppins';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 2.88px;
}

.voucher-text {
    color: var(--color-grey);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: -0.96px;
}

.voucher-img {
    width: 204.0px;
    height: 71.0px;
}

.section-community {
    background-color: var(--color-brands-background);
}

.community-title {
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 1.65px;
}

.community-text {
    color:var(--color-white);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.96px;
}
.section-footer {
    background-color: var(--color-black);
}


.footer-logo {
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1.2px;
}

.footer-link {
    color:var(--color-footer-link);
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.48px;
}